@inject NavigationManager Navigation
<AuthorizeView>
    <Authorized>
        <div class="loginCard">
            <i class="fas fa-gamepad fa-3x" style="color: limegreen;"></i>
            <br>
            <a href="Identity/Account/Manage" class="badge badge-light">@context.User.Identity.Name</a>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="loginCard">
            <i class="fas fa-sign-in-alt fa-3x" style="color: darkorange;"></i>
            <br>
            <a href="Identity/Account/Login" class="badge badge-warning">Sign In</a>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
}